body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    margin: 0;
    padding: 0;

    width: 100vh;
    height: 100vh;
    overflow: hidden;

    .pop-up {
        width: 320px;
        height: 500px;
        padding: 10px;
        border: 8px solid gray;
        margin: 100px;
        margin-top: 250px;

        border-radius: 10pt;

        position: absolute;

        background-color: #05050a;

        h1 {
            font-family: Tomorrow;
            font-weight: 400;
        }

        p {
            font-family: "ComputerSaysNo";
            font-size: 2em;
        }

        img {
            border-radius: 10%;
        }
    }
}

@font-face {
    font-family: "ComputerSaysNo";
    src: url("/computer-says-no.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.text-block {
	position: absolute;
	top: 220px;
	right: 50px;
	width: 320px;
    height: 500px;
	background-color: #05050aa2;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
	border: 2px solid rgba(255, 255, 255, 0.75);
  	border-radius: 12px;
  	padding: 50px;
  }

.slidecontainer {
	width: 100%;
  }

.slider {
	width: 100%;
	height: 5px;
	background: #e8f8e5;
	outline:  #e8f8e5;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }

.slider:hover {
	opacity: 1;
  }

.slider::-moz-range-thumb {
	width: 10px;
	height: 20px;
	background:  #fefefe  ;
	cursor: pointer;
  }
