$main_text: rgb(255, 255, 255);
$flag_border: #2ee716;

/*Buttons (speed and home)*/
$button_background: rgba(61, 61, 109, 0.671);
$reset_button_background: #7886FF;
$button_selected: rgba(45, 155, 156, 1);
$button_hover: #2ee716;
$button_disabled: #4d4d4d;

/*Pop-up en boxes (nav, popup en infobox)*/
$pop_up_border: #aaaaaa;
$pop_up_background: #01023890;

/*Visualisation & Simulation*/
$button_background_box: $button_selected;
$button_border_box: white;
$button_background_box_transparent: rgba(45, 155, 156, 0.45);
$list_background: rgba(45, 155, 156, 0.45);
$list_border: white;
$scroll_bar: #413939;

$info_popup_background: white;
$info_popup_border: black;
$info_popup_text: black;

$info_icon: white;

/*Simulation*/
$slider_bar: white;
$slider_button: $reset_button_background;
$slider_text: $main_text;
$slider_text_background: $button_background;

$orbit_highlight: rgba(45, 155, 156, 0.6);
