$main_text: rgb(255, 255, 255);

/*Homescreen*/
$menu_button_background: rgba(61, 61, 109, 0.671);
$menu_text: #333;
$flag_border: #2ee716;

/*About*/
// WIP

/*Buttons (speed and nav)*/
$button_text: #ffffff;
$button_background: #010238;
$reset_button_background: #c2bf00;
$button_selected: #00668f;
$button_hover: #2ee716;
$button_hover_text: #8ec5d3;

/*Pop-up en boxes*/
// $pop_up_background:;
$pop_up_border: #aaaaaa;
$pop_up_background: #01023890;

/*Visualisation & Simulation*/
$button_background_box: rgba(45, 155, 156, 1);
$button_border_box: white;
$button_background_box_transparent: rgba(45, 155, 156, 0.45);
$list_background: rgba(45, 155, 156, 0.45);
$list_border: white;
$scroll_bar: #413939;

$info_popup_background: white;
$info_popup_border: black;
$info_popup_text: black;

$info_icon: white;

/*Visualisation */

/*Simulation*/
$slider_bar: white;
$orbit_highlight: rgba(45, 155, 156, 0.6);

/*Communication*/
